@import './css/variables.scss';

h1 {
  color: $black
}

.calendar-table {
  td, th {
    border-left: 1px solid rgba(224, 224, 224, 1);
  }
  &__row{
    position: relative;
  }
  &__progress-bar {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 5px;
  cursor: pointer;
    border-radius: 3px;
    &--danger {
        background-color: red;
    }
    &--todo {
        background-color: orange;
    }
    &--in {
        background-color: green;
    }
    transition: 0.1s all linear;
    &:hover {
      opacity: 0.4
    }
  }
}

.calendar-header {
  position: relative;
  text-align: center;
  
  &__month {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
  }
  &__day {
    font-weight: 700;
    font-size: 16px;
  }
  &__week {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
     font-size: 10px;
  }
}